<!DOCTYPE html>
<html ng-app="signaturegen">
<head>
	<script
	src="https://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>

	<script type="text/javascript" src="app.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="main.css">
	<link rel="shortcut icon" href="https://i.imgur.com/NpgYV7K.png">
	<title>Signature Generator</title>
</head>
<body ng-controller="mainController as main" ng-cloak>
	<h1 class="header-h1">Press Email Signature Generator</h1>
	<div id="main">

		<form id="signature-info" ng-submit="main.submit()">
			<div class="input-label-group">
				<input type="text" ng-model="main.name" id="person-name" required>
				<label for="person-name">Name</label>
			</div>
			<div class="input-label-group">
				<input type="text" ng-model="main.title" id="title" required>
				<label for="title">Title</label>
			</div>
			<div class="input-label-group">
				<input type="text" ng-model="main.office" id="office" required>
				<label for="office">Phone Number</label>
			</div>
		
			<button class="btn" data-clipboard-target="#signature-preview">Copy Signature!</button>
		</form>



<!-- 		<div id="signature-preview" style="transform: scale(1.5);">

			<div id="signature" style="height: 150px; background-color: white; padding: 10px;">
				<div id="left-side" style="width: 150px;  border-right: 1px solid black;  padding: 25px 0px 25px 0px; float:left;">
					<div style="text-align: center;">
						<img src="https://i.imgur.com/XweXPH5.png" width="60" style="text-align: center;"><br>
						<img src="https://i.imgur.com/n1ApUf0.png" width="140" style="text-align: center;">
					</div>
				</div>
				<div style="padding: 0px 15px; float:left;">
					<span style="font-family: 'Helvetica'; font-size: 25px; display:block; height: 28px;"><b>{{main.name || 'Your Name'}}</b></span>
					<span style="font-family: 'Helvetica'; font-size: 10px; color: #808080;  display:block; height: 15px;">{{main.title || 'Your Title'}}</span>

					<span style="font-family: 'Helvetica'; font-size: 10px;display: block;">Strategic Property Partners, LLC</span>
					<span style="font-family: 'Helvetica'; font-size: 10px;display: block;">401 E Jackson St, 33rd Floor</span>
					<span style="font-family: 'Helvetica'; font-size: 10px; height: 20px; display: block;">Tampa, FL 33602</span>

					<span style="font-family: 'Helvetica'; font-size: 10px;display: block;">Office: <span style="color:#808080;">{{main.office || '813.123.45610'}}</span></span>
					<span style="font-family: 'Helvetica'; font-size: 10px;display: block;">Mobile: <span style="color:#808080;">{{main.mobile || '813.123.45610'}}</span></span>
					<span style="font-family: 'Helvetica'; font-size: 10px;display: block;">Website: <span style="color:#808080;"><a style="color:#808080;" href="www.waterstreettampa.com">www.waterstreettampa.com</a></span></p>
				</div>
			</div>
		</div>

	</div> -->
	<div class="right-side">
		<h1>Preview</h1>
		<div id="signature-preview">

			<table id="signature"  style="font-family: 'Roboto' sans-serif;">
				<tr>
					<td style="text-align: center; border-right: 1px solid #e94a57;; padding: 10px 15px 3px 0px ;">


						<img src="https://i.imgur.com/NpgYV7K.png" width="35">
					
					</td>
					<td style="padding:0px 10px; line-height: 0px;">
						<table>
							<tr style="height: 18px;  padding-bottom: 0px;">
								<td style="height: 18px; padding-top: 5px;  padding-bottom: 0px; text-transform: uppercase;">
									<span style="font-size: 20px; height: 18px;  padding-bottom: 0px; font-weight: 600; color:#e94a57;">{{main.name || 'Your Name'}}</span>
									<span style="font-size: 12px; color: #808080; height: 12px;">{{main.title || 'Your Title'}}</span>
								</td>
							</tr>
						
					
							
					
							<tr>
								<td style="height: 12px; line-height: 0px; ">
									<span style="font-size: 10px; "> <a href="tel:{{main.office}}" style="color:#e94a57; text-decoration:none;">{{main.office || '813.123.4567'}}</a></span><span class="" style="font-size: 12px"> | </span>
									<span style="font-size: 10px; "><span style="color:#e94a57;"><a  style="color:#e94a57;padding-bottom: 1px; text-decoration:none;" href="www.pressmarketing.com">www.pressmarketing.com</a></span> </span>
								</td>
							</tr>
							
						</table>
					</td>
				</tr>
			</table>
		</div>
	</div>
<!-- 	<div class="code-modal">
		<div class="code-modal-inner">
			<h1>Your HTML Signature</h1>
			<p id="code"></p>
		</div>
	</div> -->
</body>
</html>